In [1]:
#Numbers
print('One Line Comment')

One Line Comment

In [2]:
"""
Multi-Line Comment
"""
print("Multi-Line Comment")

Multi-Line Comment

In [3]:
17/3

5.666666666666667

In [4]:
17//3

5

In [5]:
#Modulus
17%3

2

In [6]:
5*3+2

17

In [7]:
#Power 2^3
2**3

8

In [8]:
#n**m = n*n*n.......m times
2*2*2

8

In [9]:
n

NameError: name 'n' is not defined

In [10]:
n=12

In [13]:
a = 2

In [14]:
b = 3

In [15]:
sum = a+b

In [16]:
sum

5

In [17]:
c,d = 3,4

In [18]:
add = c+d

In [19]:
add

7

In [22]:
17/3

5.666666666666667

In [23]:
round(_,2)

5.67

In [26]:
#Swap Numbers Using Python
n, m = 4, 5
print(n,m)
n, m = m, n
print(n,m)

4 5
5 4

In [42]:
word = "Python Programming"
word

'Python Programming'

In [43]:
word = 'Python Programming'
word

'Python Programming'

In [44]:
st1 = "Gandhi's Birthday"
st1

"Gandhi's Birthday"

In [45]:
multi = """
Python Programming
is amazing!
I would love to learn this.
"""
multi

'\nPython Programming\nis amazing!\nI would love to learn this.\n'

In [46]:
multiLine = '''\
Python Programming\
is amazing!\
I would love to learn this.\
'''
multiLine

'Python Programmingis amazing!I would love to learn this.'

In [47]:
'Py'+'thon'

'Python'

In [48]:
3*'Py'

'PyPyPy'

In [49]:
'Py''thon'

'Python'

In [51]:
'py' 'thon'

'python'

In [52]:
st1 = 'python'
st[0]

'P'

In [53]:
st[5]

'n'

In [54]:
len(st1)

6

In [55]:
st2 = 'python'
st2[-1]

'n'

In [56]:
st2[-6]

'p'

In [57]:
#Slicing
word = 'Python'
#word[start:stop:step]
word[0:5:1]

'Pytho'

In [58]:
word[0:5:2]

'Pto'

In [59]:
word[0] = 'M'

TypeError: 'str' object does not support item assignment

In [60]:
word1 = 'M' + word[1:]
word1

'Mython'

In [61]:
word

'Python'

In [62]:
word[len(word)]

IndexError: string index out of range

In [63]:
word[len(word)-1]

'n'

In [65]:
word[0:200:1]

'Python'

In [66]:
#How To Take Input From Users
a = 2
b = 3
sum = a+ b
sum

5

In [67]:
n1 = input('Enter A No. ')

Enter A No. 12

In [68]:
n2 = input('Enter Another No. ')

Enter Another No. 13

In [69]:
n1

'12'

In [70]:
n2

'13'

In [71]:
sum = n1 + n2

In [72]:
sum

'1213'

In [73]:
type(n1)

str

In [74]:
type(n2)

str

In [75]:
sum = int(n1) + int(n2)

In [76]:
sum

25

In [77]:
n1 = int(input('Enter A No. '))

Enter A No. 12

In [78]:
n2 = int(input('Enter Another No. '))

Enter Another No. 13

In [79]:
n1, n2

(12, 13)

In [80]:
type(n1)

int

In [81]:
type(n2)

int

In [82]:
'''
Problem - Take input from user 
Name, Age, University - 
Output - Hello, `Name`. You are studying in `University` and 
your age is `age`.
'''

name = input('Name')
age = input('Age')
university = input('University')
print('Hello,', name,'. You are studying in', university, 'and your age is', age,'.')

NameDeepak
Age20
UniversityIIT
Hello, Deepak . You are studying in IIT and your age is 20 .

In [85]:
st = 'python'

In [86]:
st.capitalize()

'Python'

In [87]:
'hello'.capitalize()

'Hello'

In [88]:
'hello'.endswith('he')

False

In [89]:
'hello'.endswith('llo')

True

In [90]:
'hello'.islower()

True

In [91]:
'Hello'.islower()

False

In [92]:
'Hello'.lower()

'hello'

In [93]:
'Hello'.isupper()

False

In [94]:
'HELLO'.isupper()

True

In [95]:
'Hello'.upper()

'HELLO'

In [96]:
'py' in 'python'

True

In [97]:
'java' in 'python'

False

In [98]:
#Slicing - Python st[:i] + st[i:] - Whole String
print(st[:2] + st[2:])
print(st[:4] + st[4:])

python
python

In [99]:
#Palindrome or not
st

'python'

In [100]:
st == st[::-1]

False

In [101]:
st1 = 'abbbbba'
st1 == st1[::-1]

True

In [102]:
st[::-1]

'nohtyp'

In [106]:
'''
Find greatest of three numbers
if (condition1):
    print('condition 1 Executed')
elif (condition2):
    print('condition 2 Executed')
else:
    print('if condition is false')
'''
a,b,c = -100,10,-1

if (a > b and a > c):
    print('{} is greatest'.format(a))
elif (b > a and b > c):
    print('{} is greatest'.format(b))
else:
    print('{} is greatest'.format(c))

10 is greatest

In [107]:
'''
Write a program that prints the integers from 1 to 100. But for multiples of three print
"Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers
which are multiples of both three and five print “FizzBuzz"

Fizz
4
Buzz
..
14
FizzBuzz
'''

'\nWrite a program that prints the integers from 1 to 100. But for multiples of three print\n"Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers\nwhich are multiples of both three and five print “FizzBuzz"\n\nFizz\n4\nBuzz\n..\n14\nFizzBuzz\n'

In [108]:
st

'python'

In [109]:
for i in st:
    print(i)

p
y
t
h
o
n

In [110]:
for index, value in enumerate(st):
    print(index, '=>',value)

0 => p
1 => y
2 => t
3 => h
4 => o
5 => n

In [111]:
j=0
while(j<5):
    print(j)
    j = j + 1

0
1
2
3
4

In [113]:
range(0, 10, 2)

range(0, 10, 2)

In [114]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [115]:
for i in range(5):
    print(i)

0
1
2
3
4

In [116]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [117]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [118]:
'''
1. You can try printing all the prime numbers in a range A to B.
2. Write a program that prints all the even length words of a string.
'''

'\n1. You can try printing all the prime numbers in a range A to B.\n2. Write a program that prints all the even length words of a string.\n'

In [119]:
sentence = "Python is wonderful langauge and I Love working on it."
splittedString = sentence.split()

In [120]:
splittedString

['Python',
 'is',
 'wonderful',
 'langauge',
 'and',
 'I',
 'Love',
 'working',
 'on',
 'it.']

In [121]:
type(splittedString)

list

In [122]:
type(sentence)

str

In [123]:
len(splittedString)

10

In [124]:
sentence2 = ' '.join(splittedString)

In [125]:
sentence2

'Python is wonderful langauge and I Love working on it.'

In [126]:
'''
1. Use for, .split(), and if to create a Statement that will print out words that start with ’s.
Ex - string is super set of characters.
'''
sentence = input('Enter a String')
splittedString = sentence.split()
splittedString

Enter a Stringstring is super set of characters

['string', 'is', 'super', 'set', 'of', 'characters']

In [128]:
for word in splittedString:
    if (word[0] == 's' or word[0] == 'S'):
        print(word)

string
super
set